{% comment %}
<section class="rewards">
  <div class="container">
    <div class="rewards_content">
      <h1>Loyalty programm TITLE</h1>
      <span class="rewards_line"></span>
      <p>Loyalty programm DESCRIPTION
        <b>Loyalty programm DESCRIPTION</b>
      </p>
      <a href="#" class="rewards_btn" style="text-align: center">Brotherhood loyalty programm</a>
    </div>
  </div>
</section>
{% endcomment %}