{% include 'breadcrumb' %}

<section class="products">
  <div class="container">
    <div class="products_content">
      {% include 'collection-sidebar' %}
      <div class="products_content_main">
        <div class="head">
          {% if collection.url == "/collections/all"%}
          <h1>All Products</h1>
          {% else %}
     	  <h1>{{ collection.title }}</h1>
          {% endif %}
          <p>{{ collection.description }}</p>
        </div>
        {% paginate collection.products by 100 %}
        <div class="products_content_main__grid">
			{% include 'product-grid' %}
        </div>
        {% include 'pagination' %}
        {% endpaginate %}
      </div>
    </div>
  </div>
</section>