<section class="main">
  <div class="container">
    <div class="banner">
      {% comment %}
      <a href="/products/big-boss-facial-hair-care-package"><img src="https://cdn.shopify.com/s/files/1/2283/7011/files/Banner_8cb6b86b-8a51-4c77-9eff-ebb5dbc2f75f.jpg?684695675139416912" alt="Banner" class="img-responsive"></a>
      <a href="/products/big-boss-facial-hair-care-package"><img src="https://cdn.shopify.com/s/files/1/2283/7011/files/Banner-3.jpg?1070" alt="Banner" class="img-responsive"></a>
      {% endcomment %}
      {% comment %}
      <a href="/products/big-boss-facial-hair-care-package"><img src="{{ "top-banner.jpg" | asset_img_url: '950x331' }}" alt="Banner" class="img-responsive"></a>
      <a href="/products/big-boss-facial-hair-care-package"><img src="https://cdn.shopify.com/s/files/1/2283/7011/t/26/assets/top-banner.png?4776" alt="Banner" class="img-responsive"></a>
      {% endcomment %}
      <a href="/collections/beard-care-packages">
        {%- assign load_img_src = 'top-banner-4stages.jpg' | asset_img_url: '10x', format: 'pjpg' -%}
        {%- assign load_img_class = 'img-responsive' -%}
        <img {% include '__opt_load_img' src:load_img_src class:load_img_class %} alt="Banner" />
      </a>
    </div>
    <div class="features-home">
      {% section 'features-products' %}
    </div>
    <div class="about">
      <div class="advantage">
        <div class="advantage_box">
          <span>
            {%- assign load_img_src = "satisfaction-label.png" | asset_img_url: '10x' -%}
            {%- assign load_img_class = 'img-responsive' -%}
            <img {% include '__opt_load_img' src:load_img_src class:load_img_class %} alt="" />
          </span>
          <p>Bossman Brands makes the best products on the market and we stand by every one of them. We offer a LIFETIME Warranty and a Money-Back Guarantee.</p>
        </div>
        <div class="advantage_box">
          <span>
            {%- assign load_img_src = "quality-label.png" | asset_img_url: '10x' -%}
            {%- assign load_img_class = 'img-responsive' -%}
            <img {% include '__opt_load_img' src:load_img_src class:load_img_class %} alt="" />
          </span>
          <p>We design the most innovative products that not only perform better, they also last longer. Bossman believes in using the highest quality ingredients at a FAIR price.</p>
        </div>
        <div class="advantage_box">
          <span>
            {%- assign load_img_src = "brotherhood-label.png" | asset_img_url: '10x' -%}
            {%- assign load_img_class = 'img-responsive' -%}
            <img {% include '__opt_load_img' src:load_img_src class:load_img_class %} alt="" />
          </span>
          <p>BROTHERHOOD seal of approval. Get access to exclusive discounts and a network of brothers who always have your back!<br><a href="https://www.facebook.com/groups/461456150702365/" target="_blank" style="color:#d49400;text-decoration:underline;">JOIN NOW</a></p>
        </div>
      </div>
      <a href="/collections/all" class="btn">Shop now</a>
    </div>

    {{ content_for_index }}
{% comment %} Judge.me content removed from here {% endcomment %}
{% comment %}
    <div class="press-release">
	<div class="like_head">
      <h1>FEATURED IN</h1>
	</div>
	<div class="owl-carousel">
		<div class="like_item">
			<div class="img">
				<img src="//cdn.shopify.com/s/files/1/0044/6601/6323/files/whole-foods.png?8250509862035422582" alt="Whole Foods">
			</div>
		</div>
		<div class="like_item">
			<div class="img">
				<img src="//cdn.shopify.com/s/files/1/0044/6601/6323/files/whole-foods.png?8250509862035422582" alt="Whole Foods">
			</div>
		</div>
		<div class="like_item">
			<div class="img">
				<img src="//cdn.shopify.com/s/files/1/0044/6601/6323/files/whole-foods.png?8250509862035422582" alt="Whole Foods">
			</div>
		</div>
		<div class="like_item">
			<div class="img">
				<img src="//cdn.shopify.com/s/files/1/0044/6601/6323/files/whole-foods.png?8250509862035422582" alt="Whole Foods">
			</div>
		</div>
		<div class="like_item">
			<div class="img">
				<img src="//cdn.shopify.com/s/files/1/0044/6601/6323/files/whole-foods.png?8250509862035422582" alt="Whole Foods">
			</div>
		</div>
		<div class="like_item">
			<div class="img">
				<img src="//cdn.shopify.com/s/files/1/0044/6601/6323/files/whole-foods.png?8250509862035422582" alt="Whole Foods">
			</div>
		</div>
	</div>
</div>
{% endcomment %}
{% comment %}
    <div class="products">
      <a href="/collections/beard-oil" class="big"></a>
      <div class="products_small">
        <a href="/collections/packages" class="smallone"></a>
        <a href="/collections/hats-beanies" class="smalltwo"></a>
      </div>
    </div>
{% endcomment %}
  </div>
</section>
<style>
.template-index .ro_widget{display:none!important;}
.jdgm-carousel-wrapper{padding:40px 0;}
.jdgm-carousel-item__review-title{color:#fff;}
.jdgm-carousel-item__review-body{color:#fff;}
.jdgm-carousel-item__timestamp{color:#fff;}
.jdgm-carousel-item__reviewer-name{color:#fff;}
.jdgm-carousel__item-wrapper{height:auto;}
.jdgm-carousel-item__review{height:auto;}
.jdgm-all-reviews-rating-wrapper{display:none!important;}
.jdgm-carousel-title{color:#fff;font-size: 25px;font-family: 'Abril Fatface',serif;font-weight: 400;text-transform:uppercase;}
.about .btn{background-color:#05901f;}
</style>